body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.top-section,
.main-section,
.nav-bar {
    padding-right: 16%;
    padding-left: 16%;
}

.top-section{
    padding-bottom: 7.7%;
}
.nav-bar {
    padding-top: 1.6%;
    padding-bottom: 1.6%;
}

.content-fluid > .main-section{
    padding-top: 3.3%;
    padding-bottom: 4.9%;
}

footer {
    padding: 1.1% 8.4% 1.1% 9%;
}

footer > .row > .footer-desc {
    font-size: 15px;
    color: #999999;
    letter-spacing: 0;
    line-height: 20px;
    padding-right: 8.8%;
}

footer > .row > .policies {
    font-size: 14px;
    color: #004A80;
    letter-spacing: 0;
    font-weight: bold;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.top-section,
.nav-bar {
    background: #004A80;
}

.top-section > h1 {
    font-size: 52px;
    letter-spacing: 0;
    font-weight: bold;
    text-align: center;
}

.top-section > h1,
.top-section > p,
.top-section > span {
    color: #FFFFFF;     
    text-align: center;
}

.top-section > p > span.yellow {
    font-weight: bold;
}
.top-section > p > span {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 29px;
}

.top-section > form > .instructions {
    font-size: 16px;
    color: #F6BC25;
    letter-spacing: 0;
    font-weight: bold;
    margin-top: 2.4%;
}

.yellow {
    color: #F6BC25;;
}

input[type="search"] {
    border-style: none;
    background: #FFFFFF;
    box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.20);
    border-radius: 3px;
    width: 75%;
    height: 70px;
    margin-right: 1.4%;
}

input[type="search"]::placeholder {
    font-weight: bold;
    font-size: 16px;
    color: #9B9B9B;
    letter-spacing: 2px;
    line-height: 18px;
    padding-left: 5px;
}

.btn-search {
    background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
    border-style: none;
    font-size: 24px;
    color: #004A80;
    letter-spacing: 1px;
    font-weight: bold;
    width: 20%;
    height: 70px;
}

.btn-search:active{
    background: #F6BC25;
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
}

.btn-search:hover{
    background: #F2DA56;
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
}

.main-section {
    background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
}

.main-section > h1 {
    font-size: 52px;
    color: #004A80;
    letter-spacing: 0;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
}

.main-section > .long-description {
    font-size: 22px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 30px;
}

img {
    vertical-align: top;
}

.icon-search,
.icon-person {
    width: 1.6%;
    margin-right: 1.7%;
}
/* 
.logo {
    width: 12%;
} */

.lock {
    width: 15px;
    height: 19px;
    margin-right: 1%;
}

span.circle {
    background: #004A80;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    font-size: 48px;
    color: #F6BC25;
    letter-spacing: 0;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em; 
  }

.result-card {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 30px;
}

.right {
    float: right;
}